.app {
  text-align: center;
}

.app-header {
  background-color: #222;
  height: 75px;
  padding: 10px;
  color: white;
}

.queue {
  float: left;
  padding: 10px;
  margin-left: 100px;
  width: 250px;
}

.progress {
  display: inline-block;
  padding: 10px;
  width: 250px;
}

.done {
  float: right;
  padding: 10px;
  margin-right: 100px;
  width: 250px;
}

.card {
  border-style: solid;
  width: 250px;
  height: 200px;
  margin-bottom: 50px;
}

.edit-button {
  float: left;
  margin-left: 75px;
}

.delete-button {
  float: right;
  margin-right: 75px;
}

.new-card-form {
  position: relative;
  bottom: 0;
  width: 100%;
}